{{/* 覆盖主题的 excerpt，只多了一个 data-categories 属性，供栏目页的分类筛选使用 */}}
{{- $cats := .Params.categories | default slice }}
{{- if not (reflect.IsSlice $cats) }}
  {{- $cats = slice $cats }}
{{- end }}
<li class="post_item" data-categories="{{ delimit $cats "|" }}">
  <div class="excerpt">
    <div class="excerpt_header">
      <h3 class="post_link">
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify  }}</a>
      </h3>
      {{ partial "post-meta" . }}
    </div>
    {{- with .Params.thumbnail }}
    <div class="excerpt_footer partition">
      <div class="excerpt_thumbnail">
        {{- partial "image" (dict "file" . "alt" $.Title "type" "thumbnail" "Page" $.Page ) }}
      </div>
      {{ else }}
      <div class="excerpt_footer">
        {{- end }}
        <div class="pale">
          {{- /* 正文里写了 more 注释短代码时，卡片只显示它前面的内容 */}}
          {{- $summary := truncate 320  (htmlUnescape .Plain) }}
          {{- if findRE `<!--\s*more\s*-->` .RawContent }}
            {{- $summary = .Summary }}
          {{- end }}
          {{- if .Params.summary }}
            {{- $summary = .Params.summary }}
          {{- else if .Params.abstract }}
            {{ $summary = .Params.abstract }}
          {{- end }}
          {{ if not ( strings.Contains $summary "<p>" ) }}
            <p>{{ $summary | safeHTML }}</p>
          {{ else }}
            {{ $summary | safeHTML }}
          {{ end }}
          <br>
          {{- $r := T "read_more" }}
          <a href="{{ .Permalink }}" title="{{ $r }}" class="excerpt_more button">{{ $r }}</a>
        </div>
      </div>
    </div>
  </li>
